<% provide :title, t("book_manage") %>
<h2 class = "title"><%= t "book_manage" %></h2>
<%= link_to new_admin_book_path, class: "btn btn-success create-book" do %>
  <i class="fa fa-plus"></i>
  <%= t "create_book" %>
<% end %>
<h5><%= t "total" %>: <%= size_book %></h5>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t "stt" %></th>
      <th scope="col"><%= t "name_book" %></th>
      <th scope="col"><%= t "category" %></th>
      <th scope="col"><%= t "author" %></th>
      <th scope="col"><%= t "publisher" %></th>
      <th scope="col"><%= t "price" %></th>
      <th scope="col"><%= t "rest_amount" %></th>
      <th scope="col"><%= t "control" %></th>
    </tr>
  </thead>
  <tbody class = "book_ajax_del">
    <%= render @books %>
  </tbody>
</table>
<%= paginate @books %>
