<% provide :title, @book.name %>
<div class="single-admin">
  <div class="container">
    <div class="single-page">
      <div class="flexslider details-lft-inf image-admin">
        <%= image_tag @book.image %>
      </div>
    </div>
    <div class="details-left-info">
      <h3><%= @book.name %></h3>
      <h4 class = "author_book"><%= @book.author_name %></h4>
      <div class="simpleCart_shelfItem">
        <p><span class="item_price qwe"><%= @book.price %> đ</span>
      </div>
      <h4><%= t "rest_amount" %>: <%= @book.rest_amount %></h4>
      <p class="desc"><%= @book.decription %></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
