<% provide :title, t("cart") %>
<div class="container">
  <div class="row">
      <div class="col-md-9 cart-items">
        <h1><%= t "cart" %></h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"><%= t "stt" %></th>
              <th scope="col"><%= t "borrowed_book" %></th>
              <th scope="col"><%= t "author" %></th>
              <th scope="col"><%= t "quantity" %></th>
              <th scope="col"><%= t "action" %></th>
            </tr>
          </thead>
          <tbody class = "sort_paginate_ajax">
            <%= render @borrowed_details %>
          </tbody>
        </table>
        <%= link_to t("borrow"), edit_borrowed_path(id: current_borrowed.id), class: "btn btn-primary btn-lg borrow" %>
      </div>
    <div class="clearfix"> </div>
  </div>
</div>
