<% provide :title, t("author_manage") %>
<h2 class = "title"><%= t "author_manage" %></h2>
<div class="search-author">
  <%= search_form_for @author, url: admin_authors_path, id: :search_form, class: "form-inline my-2 my-lg-0 search-form" do |f|%>
    <%= f.search_field :name_or_description_cont, placeholder: t("search"), class: "form-control" %>
    <%= f.submit class: "btn btn-outline-success my-2 my-sm-0"%>
  <% end %>
</div>
<div class="excel">
  <%= link_to admin_authors_path(format: "xls"), class: "btn btn-success" do %>
  <%= t "excel" %>
  <% end %>
</div>
<div class="create-author">
  <%= link_to new_admin_author_path, class: "btn btn-success" do %>
  <i class="fa fa-plus"></i>
  <%= t "create_author" %>
  <% end %>
</div>
<h5><%= t "total" %>: <%= size_item @author %></h5>
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
<Worksheet ss:Name="Sheet1">

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t "index" %></th>
        <th scope="col"><%= sort_link @author, :name, t("name") %></th>
        <th scope="col"><%= sort_link @author, :description, t("description") %></th>
        <th scope="col"><%= t "control" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @authors %>
    </tbody>
  </table>
</Worksheet>
</Workbook>
<%= paginate @authors %>
