<% provide :title, @author.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @author.name %></h1>
    </section>
    <section >
      <ul class="list-group list-group-flush">
        <b><%= t "name" %>: </b>
        <%= @author.name %>
        <hr>
        <b><%= t "description" %>: </b>
        <%= @author.description %>
        <hr>
      </ul>
    </section>
  </aside>
</div>
