<% provide :title, @book.name %>
<div class="single">
  <div class="container">
    <div class="single-page">
      <div class="flexslider details-lft-inf">
        <%= image_tag @book.image %>
      </div>
    </div>
    <div class="details-left-info">
      <h3><%= @book.name %></h3>
      <h4 class = "author_book"><%= @book.author_name %></h4>
      <div class="simpleCart_shelfItem">
        <p><span class="item_price qwe"><%= @book.price %> đ</span>
        <p class="qty"><%= t "quanity" %></p>
        <%= number_field_tag :quantity, Settings.min_quantity, min: Settings.min_quantity, class: "form-control input-small" %>
        <div class="single-but item_add">
          <%= button_to t("borrow"), borrowed_details_path(book_id: @book.id), class: "btn btn-btn-primary " %>
        </div>
      </div>
      <p class="desc"><%= @book.decription %></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
