<% provide :title, @book.name %>
<div class="single">
  <div class="container">
    <div class="single-page">
      <div class="flexslider details-lft-inf">
        <%= image_tag @book.image %>
      </div>
    </div>
    <div class="details-left-info">
      <h3><%= @book.name %></h3>
      <h4 class = "author_book"><%= @book.author_name %></h4>
      <div class="simpleCart_shelfItem">
        <p><span class="item_price qwe"><%= @book.price %> đ</span>
        <%= form_tag borrowed_details_path do %>
          <p class="qty"><%= t "quanity" %></p>
          <%= number_field_tag :quantity, Settings.min_quantity, {min: Settings.min_quantity, class: "form-control input-small"} %>
          <%= hidden_field_tag :book_id, @book.id %>
          <div class="single-but item_add">
            <%= submit_tag t("borrow"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <p class="desc"><%= @book.decription %></p>
      <div id="comment-form">
        <%= render "comments/comment_form" if user_signed_in? %>
      </div>
      <div id="comments-count">
        <%= t "comments", count: @comments.size %>
      </div>
      <div id="comments-list">
        <%= render @comments %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
