<% provide :title, @publisher.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @publisher.name %></h1>
    </section>
    <section >
      <ul class="list-group list-group-flush">
        <b><%= t "name" %>: </b>
        <%= @publisher.name %>
        <hr>
        <b><%= t "address" %>: </b>
        <%= @publisher.address %>
        <hr>
      </ul>
    </section>
  </aside>
</div>
