<div class="block" id="module_topcategories">
  <div class="container category">
    <%= link_to t("new_book"), "#", class: "title-cate", title: "New books" %>
    <%= link_to t("view_all"), "#", class: "more", title: "View all" %>
  </div>
 <div class="blockcontent">
<!-- banner-bottom -->
  <div class="banner-bottom">
    <div class="container">
      <div class="product-one">
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="product-one">
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

  </div>
</div>
<div class="block" id="module_topcategories">
  <div class="container category">
    <%= link_to t("category"), "#", class: "title-cate", title: "Category" %>
    <%= link_to t("view_all"), "#", class: "more", title: "View all" %>
  </div>
 <div class="blockcontent">
<!-- banner-bottom -->
  <div class="banner-bottom">
    <div class="container">
      <div class="product-one">
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="product-one">
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product-left">
          <div class="p-one simpleCart_shelfItem jwe">
            <%= link_to "#" do %>
              <%= image_tag("tri-tue-gia-tao.jpg", alt: "img-responsive", class: "img-responsive") %>
              <div class="mask">
                  <span><%= t "quick_view" %></span>
                </div>
            <% end %>
            <div class="product-left-cart">
              <div class="product-left-cart-l">
                <p>
                  <%= link_to "#", class: "item_add" do %>
                    <i></i> <span class=" item_price">
                    <%= Settings.price %>
                    </span>
                  <% end %>
                </p>
              </div>
              <div class="product-left-cart-r">
                <%= link_to "#" %>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

  </div>
</div>

