<div class="cart-header" id="borrowed_detail_<%= borrowed_detail.id %>">
  <tr>
    <td><%= borrowed_detail.book_name %></td>
    <td><%= borrowed_detail.book_author_name %></td>
    <td><%= borrowed_detail.quantity %></td>
    <td>
      <%= link_to borrowed_detail_path(borrowed_detail), method: :delete, data: { confirm: t("sure") }, remote: true do %>
        <%= t "delete" %>
      <% end %>
    </td>
  </tr>
</div>
