<div class="top_bg">
  <div class="container">
    <div class="header_top-sec">
      <div class="top_left">
          <ul>
            <li class="top_link">
              <%= t "contact" %>:
              <%= link_to Settings.mail, "#" %>
            </li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
                  <%= current_user.name %>
                <% end %>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to current_user do %>
                      <i class="fa fa-user"></i>
                      <%= t("profile") %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_profile_path do %>
                      <i class="fa fa-cog"></i>
                      <%= t("settings") %>
                      <% end %>
                  </li>
                  <li>
                    <%= link_to borroweds_path do %>
                      <i class="fa fa-opencart"></i>
                      <%= t "borrowed_book" %>
                    <% end %>
                  </li>
                  <% if current_user.admin? %>
                    <li>
                      <%= link_to admin_dashboard_path do %>
                        <i class="fa fa-book"></i>
                        <%= t "library_management" %>
                      <% end %>
                    </li>
                  <% end %>
                  <li><%= link_to t("log_out"), logout_path, method: :delete %></li>
                </ul>
                </li>
            <% else %>
              <button type="button" class="btn btn-light "><%= link_to t("log_in"), login_path %></button>
            <% end %>
          </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="header_top">
  <div class="container">
    <div class="logo">
      <%= link_to t("library_management"), root_url %>
    </div>
    <% if user_signed_in? %>
      <div class="header_right">
        <div class="cart box_1">
          <%= link_to "#" do %>
            <div class="total">
              <% if session[:borrowed_id] && current_borrowed.borrowed_details.size != Settings.size_cart %>
                <%= link_to borrowed_path current_borrowed do %>
                  <%= t "cart" %>(<strong id ="size_card"><%= current_borrowed.borrowed_details.size %></strong>)
                  <%= image_tag("cart.png") %>
                <% end %>
              <% else %>
                <%= t "empty_cart" %>
                <%= image_tag("cart.png") %>
              <% end %>
            </div>
          <% end %>
          <div class="clearfix"> </div>
        </div>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>
<div class="mega_nav">
  <div class="container">
    <div class="menu_sec">
      <ul class="megamenu skyblue">
        <li class="active grid"><%= link_to t("home"), root_url, class: "color1" %></li>
        <li class="grid"><%= link_to t("economic_book"), "#", class: "color1" %></li>
        <li><%= link_to t("foregin_literature"), "#", class: "color1" %></li>
        <li><%= link_to t("domestic_literature"), "#", class: "color1" %></li>
        <li><%= link_to t("novel"), "#", class: "color1" %></li>
        <li><%= link_to t("new_book"), "#", class: "color1" %></li>
      </ul>
      <%= search_form_for @q, id: :search_form, class: "form-inline my-2 my-lg-0 search-form" do |f|%>
        <%= f.search_field :name_or_author_name_cont, placeholder: t("search"), class: "form-control" %>
        <%= f.submit class: "btn btn-outline-success my-2 my-sm-0"%>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
